<ion-header>
  <ion-toolbar>
    <ion-title>AgriControl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<p class="ion-text-end">
  <small>Dia: {{hoje | date: 'dd/MM HH:mm'}}</small>
</p>
  <ion-list>
    <ion-list-header>
      Operações a serem realizadas
    </ion-list-header>

    <ion-item [routerLink]="'/atividade/1'">
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Titulo</h2>
        <h3>Tipo - Talhão</h3>
        <p></p>
      </ion-label>
      <ion-note slot="end">Hora</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Titulo</h2>
        <h3>Tipo - Talhão</h3>
        <p></p>
      </ion-label>
      <ion-note slot="end">Hora</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Titulo</h2>
        <h3>Tipo - Talhão</h3>
        <p></p>
      </ion-label>
      <ion-note slot="end">Hora</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Titulo</h2>
        <h3>Tipo - Talhão</h3>
        <p></p>
      </ion-label>
      <ion-note slot="end">Hora</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>Titulo</h2>
        <h3>Tipo - Talhão</h3>
        <p></p>
      </ion-label>
      <ion-note slot="end">Hora</ion-note>
    </ion-item>

  </ion-list>
</ion-content>
