<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Atividade</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <pre>
  <p>
    Te amar foi um erro
    Foi um erro te amar
    Mas eu erro outra vez
    Se acaso precisar...

    Por você não me arrependo
    Das loucuras que eu já fiz
    Por você estou sofrendo
    Mas te amar me faz feliz...

    O amor é um laço aberto
    Muito perto, tiro certo
    Esperando alguém cair
    Iludir, se ferir
    Seu amor é desse jeito
    Manhoso!
    Safado e gostoso demais
    O amor é um prato quente
    Atraente, envolvente
    Faz a gente se servir
    Engolir, repetir...
  </p>
  </pre>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="success" (click)="iniciar()">
            <ion-icon color="light" name="caret-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
